.main {
	background: linear-gradient(90deg, rgba(93,5,144,0.7) 0%, rgba(140,7,52,0.7) 100%);
	padding: 15px;
	height: 80%;
	width: 60%;
	float: right;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 5%;
	margin-bottom: 5%;
}
.submain {
	overflow-x: hidden;
	height: 100%;
	width: 100%;
	line-height: 4.5;
  	display: inline-block;
  	vertical-align: middle;
}
.mainChange	{
	disp: block;
	font-family: 'aquawax';
	font-size: 200%;
	margin-top: auto;
	margin-bottom: auto;
	color: #ffffff;
}
select {
	width: 25%;
	height: 5%;
	text-align: center;
	font-family: 'aquawax';
	font-size: 15; 
}
input {
	width: 25%;
	height: 5%;
	text-align: center;
	font-family: 'aquawax';
	font-size: 15;
}
form {
	height: 100%;
	width: 100%;
	line-height: 4.5;
  	display: inline-block;
  	vertical-align: middle;
}
label {
	width: 25%;
	height: 5%;
	text-align: center;
	font-family: 'aquawax';
	font-size: 20;
	color: #ffffff;
}