a{
	text-decoration: none;
}
#login{
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(15,175,106,1) 0%, rgba(0,192,231,1) 100%);
	width: 50%;
	height: 50%;
	margin: auto;
	margin-top: 10%;
}
#login>form>table{
	padding-top: 10%;
}
#login>form>table, td>input{
	font-family: aquawax;
	margin: auto;
	color: white;
	font-size: 1.5em;
}
td>input{
	font-family: philosopher;
	color: black;
	font-size: 1em;
}
.login-element{
	padding: 1%;
}
#logindone{
	background-color: white;
	font-size: 3em;
	font-weight: bold;
	font-family: aquawax;
	padding: 1%;
	margin-top: 5%;
	background-color: rgba(0, 0, 0, 0);
	border: none;
}
#signup{
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	font-family: aquawax;
}
.aquawax-hover{
	color: white;
	opacity: 0.75;
	transition: 0.5s;
}
.aquawax-hover:hover{
	opacity: 1;
	cursor: pointer;
}